<div class="text-bg-primary py-5">
    <div class="container">
        <div class="my-5 text-end">
            <h1>To-Do APP</h1>
        </div>
        <div class="text-end">
            <label class="form-label">Add New To-Do</label>
        </div>
        <div>
            <!-- (input)="onInputChange($event)" -->
            <!-- (keyup)="onKeyUp($event)"  -->
            <div class="form-floating mb-3 text-bg-light rounded">
                <input type="text" #inputField class="form-control rounded" id="floatingInput" placeholder="Enter New Task">
                <label for="floatingInput">Enter New Task</label>
            </div>
        </div>
    
        <div class="text-end">
            <button (click)="addTask()" type="button" class="btn btn-danger btn-lg">Add</button>
        </div>
    </div>
</div>